/* title */
#title{
  text-align: center;
  font-size: 60px;
  background-color: #fff19f;
  margin: 0;
  padding: 40px 0;
  color: #e29fff;
}
/* chatroom navigation bar */
#chatroom-list{
  display:flex;
  justify-content: space-around;
  border-bottom: 3px black solid;
  padding: 30px 0;
  background-color:#fff19f;
}
/* individual chat rooms in nav bar */
.chatroom{
  background-color: #ffc19f;
  height: 30px;
  width: 170px;
  padding-top: 10px;
  text-align: center;
  position: relative;
}
/* Username style */
#username-page{
  background-color: #e29fff;
}
#username{
  text-align: center;
  padding: 300px;
}
#username-input{
  height: 30px;
  width: 300px;
  font-size: 30px;
}
#username-submit{
  width: 75px;
}

/* Common Chat CSS between the three rooms */
/* chat display */
.chatDisplay{
  margin: 60px;
  margin-top: 0;
  margin-bottom: 0px;
  height: 400px;
  width: 90vw;
  border: 1px black solid;
  background-color: whitesmoke;
}

/* box where you type */
.textBox{
  display: flex;
  align-items: flex-end;
}
.text{
  margin-left: 60px;
  width: 60vw;
  height: 100px;
  font-size: 30px;
  margin-top: 10px;
}
/* send and refresh button */
.buttons{
  width: 75px;
  height: 50px;
  font-size:20px;
  text-align: left;
  background-color: #ffc19f;
  color: black;
}
/* chatRoom One */
.body{
  background-color: #9fd9ff;
  padding: 60px 0;
}

/* Cat Chat display */
#catChat{
  background-image: url("./images/cats.jpg");
  opacity: 0.7;
  background-size: inherit;
}